/*The Game Club*/
#banner {
	height: 400px;
	background-color: #000033;
	padding-top: 100px;
	color: cornflowerblue;
	margin: auto;
	text-align: center;
	width: 100%;

}
nav {
	height 30px;
	background-color: black;
	color: cornflowerblue;
	margin: auto;
	width: 100%;
	padding: 5x;
	position: fixed;
	top: 0;


}
nav a {
	padding-right: 20px;
	padding-left: 20px;
}

nav a:hover {
	background-color: yellow;
	color: black;
}
#test {
	height: 1000px;
	background-color: red;
	border: double red 2px;
}